/* lineChart Effects */
.lineChart {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}




.lineChart::before {
  content: attr(data-text);
  position: absolute;
  top: 1px;
  font-size: 18px;
  left: 5px;
  width: 10px;
  height: 97%;
  color: white;
  font-weight: 600;
  border-right: 2px solid red;
  overflow: hidden;
  animation: animate 9s linear infinite;

}

@keyframes animate {

  0% {
    width: 0;
  }

  80% {

    width: 100%;
  }
}



/* styling for LeaderBoard --------- */
/* className=' w-full sm:w-[600px] h-[100vh] sm:h-[420px] overflow-auto  rounded' */


#theElementId>div:nth-child(1)>div:nth-child(1) {
  transform: translateY(-3px);
  border-radius: 50%;
  background-color: rgb(164, 222, 164);
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

#theElementId>div:nth-child(2)>div:nth-child(1) {
  transform: translateY(-3px);
  border-radius: 50%;
  background-color: rgb(207, 162, 207);
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

#theElementId>div:nth-child(3)>div:nth-child(1) {
  transform: translateY(-3px);
  border-radius: 50%;
  background-color: rgb(172, 172, 237);
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}


#theElementId>div:nth-child(2)>div:nth-child(2) {
  transform: translateY(-1px);
  padding: 2px;
  background-image: url("../../../../public/assets/images/Speaking-Images//Man-4.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50%;
  color: transparent;
}


#theElementId>div:nth-child(4)>div:nth-child(2) {
  transform: translateY(-1px);
  padding: 2px;
  background-image: url("../../../../public/assets/images/Speaking-Images/Man-5.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50%;
  color: transparent;
}

#theElementId>div:nth-child(5)>div:nth-child(2) {
  transform: translateY(-1px);
  padding: 2px;
  background-image: url("../../../../public/assets/images/Speaking-Images/Man-6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50%;
  color: transparent;
}

#theElementId>div:nth-child(6)>div:nth-child(2) {
  transform: translateY(-1px);
  padding: 2px;
  background-image: url("../../../../public/assets/images/Speaking-Images/Man-7.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 50%;
  color: transparent;
}