/* import img from ; */

.Result-PopUp-box {
    background-image: url("../../../../public/assets/images/city1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}